{% extends 'core/base.html' %} {% load static %} {% block content %}

    <main class="contenedor">
        <div class="nosotros-container">
            <div class="nosotros-row">
                <div class="nosotros-col">
                    <h3 class="titulo">Contáctanos</h3>
                    <h2 class="subtitulo"><span>Envíanos tus consultas y sugerencias. Ponte en contacto con nuestra red de locales.</span></h2>
                    <p class="subtitulo">
                        Pensando siempre en brindarte los mejores productos.
                    </p>
                    <h4 class="contacto-datos">Rellena los campos con tus datos.</h4>
                    <!-- Formulario de contacto -->
                    <form method="post" onsubmit="return validarFormulario(event);">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" required>

                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>

                        <label for "mensaje">Mensaje:</label>
                        <textarea id="mensaje" name="mensaje" rows="4" required></textarea>

                        <button id="boton-contacto" type="submit">Enviar</button>
                        <br>
                        <br>
                    </form>
                </div>
            </div>
        </div>
	</main>
        <div class="separador text-center text-white">
            <p><q>Ofreciéndote los productos de más alta calidad. <q> JOYERIA PIEDRAS DEL SUR</q> </q></p>
        </div>
{% endblock %}

